<!doctype html>
<head>
	<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<title>Python Flask Update Employee Information</title>
  </head>
<!-- <h2>Select an image to upload and display</h2> -->
<h2 style="text-align: center;" class="mdc-typography--headline3">Update your employee Information</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}">
	</div>
{% endif %}
<form method="post" action="/" enctype="multipart/form-data">
	<div class="mdc-card" style="text-align: center;">

    <dl>
		<!-- <p>
			<input type="file" name="file" autocomplete="off" required>
		</p> -->

		First Name: 
		<label style="text-align: center;" class="mdc-text-field mdc-text-field--filled">
			<span class="mdc-text-field__ripple"></span>
			<span class="mdc-floating-label" id="my-label-id"></span>
			<input class="mdc-text-field__input" type="text" name="first_name" aria-labelledby="my-label-id">
			<span class="mdc-line-ripple"></span>
		  </label><br/>

		  Last Name: 
		<label style="text-align: center;" class="mdc-text-field mdc-text-field--filled">
			<span class="mdc-text-field__ripple"></span>
			<span class="mdc-floating-label" id="my-label-id"></span>
			<input class="mdc-text-field__input" type="text" name="last_name" aria-labelledby="my-label-id">
			<span class="mdc-line-ripple"></span>
		  </label><br/>

		  Company: 
		<label style="text-align: center;" class="mdc-text-field mdc-text-field--filled">
			<span class="mdc-text-field__ripple"></span>
			<span class="mdc-floating-label" id="my-label-id"></span>
			<input class="mdc-text-field__input" type="text" name="company" aria-labelledby="my-label-id">
			<span class="mdc-line-ripple"></span>
		  </label><br/>

		  Position: 
		<label style="text-align: center;" class="mdc-text-field mdc-text-field--filled">
			<span class="mdc-text-field__ripple"></span>
			<span class="mdc-floating-label" id="my-label-id"></span>
			<input class="mdc-text-field__input" type="text" name="position" aria-labelledby="my-label-id">
			<span class="mdc-line-ripple"></span>
		  </label><br/>

		  Phone: 
		<label style="text-align: center;" class="mdc-text-field mdc-text-field--filled">
			<span class="mdc-text-field__ripple"></span>
			<span class="mdc-floating-label" id="my-label-id"></span>
			<input class="mdc-text-field__input" type="text" name="phone" aria-labelledby="my-label-id">
			<span class="mdc-line-ripple"></span>
		  </label><br/>

		  Email: 
		<label style="text-align: center;" class="mdc-text-field mdc-text-field--filled">
			<span class="mdc-text-field__ripple"></span>
			<span class="mdc-floating-label" id="my-label-id"></span>
			<input class="mdc-text-field__input" type="text" name="email" aria-labelledby="my-label-id">
			<span class="mdc-line-ripple"></span>
		  </label><br/>

		  Country: 
		<label style="text-align: center;" class="mdc-text-field mdc-text-field--filled">
			<span class="mdc-text-field__ripple"></span>
			<span class="mdc-floating-label" id="my-label-id"></span>
			<input class="mdc-text-field__input" type="text" name="country" aria-labelledby="my-label-id">
			<span class="mdc-line-ripple"></span>
		  </label><br/>


		<!-- <p>FirstName
			<input type="text" name="first_name" required>
		</p>

		<p>LastName
			<input type="text" name="last_name" required>
		</p>

		<p>Company
			<input type="text" name="company" required>
		</p>

		<p>Position
			<input type="text" name="position" required>
		</p>
		
		<p>Phone
			<input type="text" name="phone" required>
		</p>

		<p>Email
			<input type="text" name="email" required>
		</p>

		<p>Country
			<input type="text" name="country" required>
		</p> -->
    </dl>
    <!-- <p>
		<input type="submit" value="Submit">
	</p> -->
	<p style="text-align: center;">
		<button class="mdc-button foo-button">
			<div class="mdc-button__ripple"></div>
			<span class="mdc-button__label">Submit</span>
		  </button>
		<!-- <input type="submit" value="Submit"> -->
	</p>
	</div>
</form>